  @defer (when !loading.isLoading()) {
    <article class="page hentry">
      <header class="entry-header">
        <h1 class="entry-title">Resume</h1>
      </header>
      <div class="entry-content">
        <div class="row">
          <div class="col-sm-6">
            <div class="event">
              <h2>Work History</h2>
              <p><i class="pw-icon-briefcase"></i></p>
            </div>
            @for (job of workHistory(); track job.id) {
              <div class="event">
                <h3>{{ job.startDate }} - {{ job.endDate }}</h3>
                <h4>{{ job.title }}</h4>
                <h5>{{ job.company }}</h5>
                <p class="job-description">{{ job.description }}</p>
              </div>
            }
            <div class="event">
              <h2>Education</h2>
              <p><i class="pw-icon-education"></i></p>
            </div>
            @for (eduEvent of eduEvents(); track eduEvent.id) {
              <app-event [Event]="eduEvent"></app-event>
            }
            <p><button type="button" class="button primary" (click)="downloadCv()">Download Resume</button></p>
          </div>
          <div class="col-sm-6">
            <div class="section-title center">
              <h2><i>Coding Skills</i></h2>
            </div>
            @for (skill of skills(); track skill.id) {
              <app-progress-bar [Skillset]="skill"></app-progress-bar>
            }
            <div class="section-title center">
              <h2><i>Testimonials</i></h2>
            </div>
              @for (testimonial of testimonials(); track testimonial.id) {
                <app-testimonial [testimonial]="testimonial"></app-testimonial>
              }
          </div>
        </div>
      </div>
    </article>
  }
