<article class="page">
    <header class="entry-header">
      <h1 class="entry-title">about me</h1>
    </header>
    <div class="entry-content">
      <div class="about-me-desc">
        <p>At first I intended to be a scientist and went to school fully motivated to become just that. One thing led to another and years went by and I was a (almost) fully fledged software engineer without ever planning to become one.</p>
        <p>This fortunate turn of events has lead me to develop and design sotwares for such people as RR Donnelley, LSC Communications and GE Healthcare. To work with people from all over India and US is very rewarding.</p>
        <p>I have successfully been a software engineer now for a while and it has given me even more love for this work.</p>
        <p>I have coded websites with great respect to standards, because it makes life easier for everybody. My site even used to validate, honestly!</p>
        <p>I live in Bengaluru and work at Accenture India, Bengaluru, as well as travelling to my clients location to work very closely with the people there. This can be anywhere on this Planet, still waiting for warp technology to develop to go beyond it.</p>
      </div>
      <div class="section-title center">
        <h2>
          <i>services</i>
        </h2>
      </div>
      <div class="row pb-1">
        <div class="col-sm-6 col-md-6 col-lg-6 col-6">
          <div class="service">
            <img src="../../../assets/images/site/pencil_tip.svg" alt="image"/>
            <h4>UI / UX Developer</h4>
            <p>I design super cool websites using the latest version of angular and react. This website runs on angular v8</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="service">
            <img src="../../../assets/images/site/laptop.svg" alt="image"/>
            <h4>Backend Developer</h4>
            <p>I have extensively worked in backend technologies like C#, SQL Server, SSIS / SSRS</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="service">
            <img src="../../../assets/images/site/lightbulb_idea.svg" alt="image"/>
            <h4>TTD & SOLID</h4>
            <p>All the codes are well written using test driven development complying organizational coding standards.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="service">
            <img src="../../../assets/images/site/camera.svg" alt="image"/>
            <h4>Problem Solver</h4>
            <p>I am good at solving problems. Give me a problem, I'll always find a solution. Recently won a hackathon conducted @ GE Healthcare for solving their most dreaded iframe problems</p>
          </div>
        </div>
  
      </div>
      <div class="section-title center">
        <h2>
          <i>work process</i>
        </h2>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-2">
          <div class="process">
            <img src="../../../assets/images/site/process-01.svg" alt="image"/>
            <h4>DISCUSS</h4>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="process">
            <img src="../../../assets/images/site/process-02.svg" alt="image"/>
            <h4>IDEA</h4>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="process">
            <img src="../../../assets/images/site/process-03.svg" alt="image"/>
            <h4>DESIGN</h4>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="process">
            <img src="../../../assets/images/site/process-04.svg" alt="image"/>
            <h4>DEVELOP</h4>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="process">
            <img src="../../../assets/images/site/process-05.svg" alt="image"/>
            <h4>TEST</h4>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="process">
            <img src="../../../assets/images/site/process-06.svg" alt="image"/>
            <h4>LAUNCH</h4>
          </div>
        </div>
      </div>
      <div class="section-title center">
        <h2>
          <i>Proud to work with</i>
        </h2>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-01.png" alt="client">
            </span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-02.png" alt="client">
            </span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-03.png" alt="client">
            </span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-04.png" alt="client">
            </span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-05.jpg" alt="client">
            </span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-06.jpg" alt="client">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4">
          <div class="client">
            <span>
              <img src="../../../assets/images/site/client-07.jpg" alt="client">
            </span>
          </div>
        </div>
      </div>
    </div>
  </article>